USE [master]
GO
/****** Object:  Database [InventarioDB]    Script Date: 24/10/2025 13:47:22 ******/
CREATE DATABASE [InventarioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventarioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\InventarioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventarioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\InventarioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventarioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventarioDB]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 24/10/2025 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosStock]    Script Date: 24/10/2025 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosStock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[producto_id] [int] NOT NULL,
	[tipo_movimiento] [nvarchar](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[motivo] [nvarchar](255) NULL,
	[numero_referencia] [nvarchar](50) NULL,
	[fecha_movimiento] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 24/10/2025 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[codigo_sku] [nvarchar](50) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[costo] [decimal](10, 2) NULL,
	[cantidad_stock] [int] NOT NULL,
	[stock_minimo] [int] NOT NULL,
	[categoria_id] [int] NOT NULL,
	[proveedor_id] [int] NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 24/10/2025 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[contacto] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](255) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/10/2025 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[rol] [nvarchar](20) NULL,
	[activo] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([id], [nombre], [descripcion], [fecha_creacion]) VALUES (1, N'Electrónicos', N'Dispositivos electrónicos y accesorios', CAST(N'2025-09-24T21:32:05.2266667' AS DateTime2))
INSERT [dbo].[Categorias] ([id], [nombre], [descripcion], [fecha_creacion]) VALUES (2, N'Oficina', N'Artículos y muebles de oficina', CAST(N'2025-09-24T21:32:05.2266667' AS DateTime2))
INSERT [dbo].[Categorias] ([id], [nombre], [descripcion], [fecha_creacion]) VALUES (3, N'Limpieza', N'Productos de limpieza y aseo', CAST(N'2025-09-24T21:32:05.2266667' AS DateTime2))

SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[MovimientosStock] ON 

INSERT [dbo].[MovimientosStock] ([id], [producto_id], [tipo_movimiento], [cantidad], [motivo], [numero_referencia], [fecha_movimiento]) VALUES (1, 1, N'ENTRADA', 20, N'Compra inicial de inventario', N'OC-2024-001', CAST(N'2025-09-24T21:32:05.2533333' AS DateTime2))
INSERT [dbo].[MovimientosStock] ([id], [producto_id], [tipo_movimiento], [cantidad], [motivo], [numero_referencia], [fecha_movimiento]) VALUES (2, 2, N'ENTRADA', 100, N'Compra inicial de inventario', N'OC-2024-002', CAST(N'2025-09-24T21:32:05.2533333' AS DateTime2))
INSERT [dbo].[MovimientosStock] ([id], [producto_id], [tipo_movimiento], [cantidad], [motivo], [numero_referencia], [fecha_movimiento]) VALUES (3, 3, N'ENTRADA', 10, N'Compra inicial de inventario', N'OC-2024-003', CAST(N'2025-09-24T21:32:05.2533333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MovimientosStock] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id], [nombre], [descripcion], [codigo_sku], [precio], [costo], [cantidad_stock], [stock_minimo], [categoria_id], [proveedor_id], [activo], [fecha_creacion], [fecha_actualizacion]) VALUES (1, N'Laptop Dell Inspiron', N'Laptop de 15 pulgadas, 8GB RAM, 256GB SSD', N'LAP-DELL-001', CAST(899.99 AS Decimal(10, 2)), CAST(650.00 AS Decimal(10, 2)), 15, 5, 1, 1, 0, CAST(N'2025-09-24T21:32:05.2466667' AS DateTime2), CAST(N'2025-09-24T21:32:05.2466667' AS DateTime2))
INSERT [dbo].[Productos] ([id], [nombre], [descripcion], [codigo_sku], [precio], [costo], [cantidad_stock], [stock_minimo], [categoria_id], [proveedor_id], [activo], [fecha_creacion], [fecha_actualizacion]) VALUES (2, N'Silla Ergonomica Ejecutiva', N'Silla de oficina ergonomica con soporte lumbar', N'OFI-SILLA-001', CAST(349.99 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)), 100, 10, 2, 2, 1, CAST(N'2025-09-24T21:32:05.2466667' AS DateTime2), CAST(N'2025-09-24T21:32:05.2466667' AS DateTime2))
INSERT [dbo].[Productos] ([id], [nombre], [descripcion], [codigo_sku], [precio], [costo], [cantidad_stock], [stock_minimo], [categoria_id], [proveedor_id], [activo], [fecha_creacion], [fecha_actualizacion]) VALUES (3, N'Detergente Multipropósito 5L', N'Detergente para todo uso, presentación 5 litros', N'LIM-DET-5L-001', CAST(45.99 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)), 10, 5, 3, 3, 1, CAST(N'2025-09-24T21:32:05.2466667' AS DateTime2), CAST(N'2025-09-24T21:32:05.2466667' AS DateTime2))

SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([id], [nombre], [contacto], [email], [telefono], [direccion], [fecha_creacion]) VALUES (1, N'TechSupply Corp', N'Juan Pérez', N'juan@techsupply.com', N'555-0101', NULL, CAST(N'2025-09-24T21:32:05.2366667' AS DateTime2))
INSERT [dbo].[Proveedores] ([id], [nombre], [contacto], [email], [telefono], [direccion], [fecha_creacion]) VALUES (2, N'Office Solutions SA', N'María García', N'maria@officesolutions.com', N'555-0202', N'Av. Principal 123, CABA', CAST(N'2025-09-24T21:32:05.2366667' AS DateTime2))
INSERT [dbo].[Proveedores] ([id], [nombre], [contacto], [email], [telefono], [direccion], [fecha_creacion]) VALUES (3, N'CleanPro Distribuidora', N'Carlos Rodríguez', N'carlos@cleanpro.com', N'555-0303', N'Calle Comercial 456', CAST(N'2025-09-24T21:32:05.2366667' AS DateTime2))

SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [username], [password_hash], [rol], [activo], [fecha_creacion]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'admin', 1, CAST(N'2025-10-23T17:24:57.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__72AFBCC652F59C1F]    Script Date: 24/10/2025 13:47:22 ******/
ALTER TABLE [dbo].[Categorias] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosStock_Fecha]    Script Date: 24/10/2025 13:47:22 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientosStock_Fecha] ON [dbo].[MovimientosStock]
(
	[fecha_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovimientosStock_Producto]    Script Date: 24/10/2025 13:47:22 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientosStock_Producto] ON [dbo].[MovimientosStock]
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__1E3E22FE75EFD03E]    Script Date: 24/10/2025 13:47:22 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[codigo_sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Categoria]    Script Date: 24/10/2025 13:47:22 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Categoria] ON [dbo].[Productos]
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Proveedor]    Script Date: 24/10/2025 13:47:22 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Proveedor] ON [dbo].[Productos]
(
	[proveedor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Productos_SKU]    Script Date: 24/10/2025 13:47:22 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_SKU] ON [dbo].[Productos]
(
	[codigo_sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__F3DBC572C3D247F8]    Script Date: 24/10/2025 13:47:22 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[MovimientosStock] ADD  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [cantidad_stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((5)) FOR [stock_minimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('usuario') FOR [rol]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[MovimientosStock]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([categoria_id])
REFERENCES [dbo].[Categorias] ([id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedores] ([id])
GO
USE [master]
GO
